.input {
 padding: 0 18px;
 text-align: end;
}

.results h2,
.inputText h1 {
 padding: 18px;
 color: #ffffffa9;
}
.results h2 {
 font-size: 38px;
 font-weight: 500;
 margin-top: 100px;
 height: 80px;
}

.input .inputText h1 {
 font-size: 22px;
 margin-bottom: 50px;
 font-weight: 400;
 color: #7c5efe;
}
